@charset "UTF-8";
a {
  text-decoration: none;
}

.foooter {
  width: 100%;
  background-color: gray;
  height: 200px;
  color: white;
}

.vse {
  display: grid;
  /* Задаём явно ширину каждого столбца в процентах,
     например, 20%, 30%, 30% и 20% */
  grid-template-columns: 15% 15% 26% 38%;
  /* gap можно использовать для создания отступов между блоками */
  gap: 2%;
}

.onas, .podderzhkaaa, .aaattention, .phooone, .emaaail, .vsepart {
  text-align: center;
}

.soc {
  text-align: center;
}

.seeeti {
  text-align: center;
  font-size: 20px;
}

.part {
  text-align: center;
  font-size: 20px;
}

.coooca, .netflixxx, .legooo, .subaruuu, .nvidiaaa {
  width: 65px;
  height: 65px;
}

.vk, .tg, .inst {
  width: 45px;
  height: 45px;
}

.aaattention, .kooontakti {
  font-size: 20px;
  text-align: center;
}

body {
  margin: 0; /* для body*/
}

.header {
  width: 100%;
  background-color: aqua;
  height: 80px;
  padding-top: 20px;
  margin: 0px;
}

.logotip {
  width: 140px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  margin: auto;
  border: 2px solid black;
}

.photographia {
  width: 40px;
  margin-left: -2px;
}

.nazva {
  color: #0E858C;
  text-align: center;
  margin-left: 25px;
  margin-top: -57px;
  font-size: 22px;
}

.osnova {
  background-color: aqua;
  height: 500px;
}

.podosnova {
  background-color: white;
  height: 460px;
  width: 90%;
  margin: auto; /*по центру*/
  border-radius: 20px;
}

.pole {
  text-align: center;
  width: 100%;
}

.num1, .num2, .num3 {
  width: 40%;
  height: 30px;
  border-radius: 20px;
}

.num1 {
  margin-top: 60px;
}

.num2 {
  margin-top: 30px;
}

.num3 {
  margin-top: 30px;
}

.but {
  text-align: center;
  margin-top: 35px;
}

.ras {
  text-align: center;
  margin-top: 20px;
}

.otpravit {
  width: 200px;
  font-size: 20px;
  background-color: aqua;
  color: black;
  border-radius: 20px;
}

@media (min-width: 453px) and (max-width: 699px) {
  .coca, .netflixxx, .legooo, .subaruuu, .nvidiaaa {
    width: 65px;
    height: 65px;
  }
  .vk, .tg, .inst {
    width: 45px;
    height: 45px;
  }
  .vse {
    display: grid;
    /* Задаём явно ширину каждого столбца в процентах,
       например, 20%, 30%, 30% и 20% */
    grid-template-columns: 25% 25% 46%;
    /* gap можно использовать для создания отступов между блоками */
    gap: 2%;
  }
  .fooot4 {
    grid-column: 1/4;
  }
  .foooter {
    height: 280px;
  }
  .num1 {
    width: 70%;
  }
  .num2 {
    width: 70%;
  }
  .num3 {
    width: 70%;
  }
}
@media (min-width: 700px) and (max-width: 1400px) {
  .num1 {
    width: 70%;
  }
  .num2 {
    width: 70%;
  }
  .num3 {
    width: 70%;
  }
}
@media (min-width: 320px) and (max-width: 452px) {
  .num1 {
    width: 70%;
  }
  .num2 {
    width: 70%;
  }
  .num3 {
    width: 70%;
  }
  .coooca, .netflixxx, .legooo, .subaruuu, .nvidiaaa {
    width: 45px;
    height: 45px;
  }
  .vk, .tg, .inst {
    width: 35px;
    height: 35px;
  }
  .vse {
    display: grid;
    /* Задаём явно ширину каждого столбца в процентах,
       например, 20%, 30%, 30% и 20% */
    grid-template-columns: 25% 25% 46%;
    /* gap можно использовать для создания отступов между блоками */
    gap: 2%;
  }
  .fooot4 {
    grid-column: 1/4;
  }
  .podderzhkaaa, .onas, .phooone, .emaaail {
    font-size: 12px;
  }
  .foooter {
    height: 300px;
  }
}
a {
  color: white;
}/*# sourceMappingURL=oplata.css.map */